@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.navlink {
		@apply hover:underline decoration-orange-400 text-center decoration-2 active:underline underline-offset-8 rounded-full p-4 cursor-pointer hover:font-bold capitalize hover:scale-110 transition-transform duration-200 ease-out;
	}
}
